.topnav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: #AAA;
  font-size: 28px;
  padding-left: 20px;
  padding: 2px;
  z-index: 2;
  text-align: center;
}

iframe {
  display: block;
  margin: auto;
  height: 100vh;
  width: 100vw;
}

canvas {
  position: fixed;
}

.topnav_button {
  border: 1px solid white;
  font-size: 1.1cm;
  height: 1.5cm;
  background-color: #333;
  color: white;
  padding-left: 12px;
  padding-right: 12px;
} 

.topnav_button:active {
  background-color: white;
}

.topnav_title {
  position: fixed;
  left: 10px;
  top: 2px;
  font-size: 18px;
  padding: 2px 2px 2px 5px;
}

.topnav_title2 {
  position: fixed;
  right: 10px;
  top: 2px;
  font-size: 18px;
  padding: 2px 2px 2px 5px;
}


body {
  font-family: Helvetica;
}

.overlay {
  position: fixed; /* Stay in place */
  z-index: 3; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #000000BB;
  color: white;
}

.data_overlay_table {
  border: 1px solid white;
  color: white;
  font-size: 2cm;
  
}

.zoomableDiv {
  border: 1px solid gray;
}


input[type=checkbox] {
  width: 38px;
  height: 38px;
}